@charset "UTF-8";


/* BUTTONS */
a.cta-bar__button.\/.btn.btn-accent {
    margin-right: 0.5rem;
}

.btn.btn-accent {
    color: rgb(26, 26, 26);
    background-color: rgb(232, 74, 58);
    border: 0px solid currentColor;
}

.btn.btn-accent:hover {
    color: #1a1a1a;
    background-color: #f4f4f4;
}

.btn {
    padding: 0.35rem 1rem;
    border-radius: 0px;

}

a.btn.btn-tabs {
    color: #F7F7F7;
    background-color: transparent;
    border-color: #F7F7F7;
    border-width: 0.2rem;
}

a.btn.btn-tabs:hover {
    color: #1A1A1A;
    background-color: #F7F7F7;
    border-color: #F7F7F7;
}


/* NAVBAR FADE */

.navbar_transparent {
    background: linear-gradient(rgba(4,4,4,0.9), rgba(0,0,0,0.6), transparent);
    box-shadow: 0 0 5px transparent;
}

/* NAVBAR closer text desktop only */

@media (min-width: 1280px) {
  
nav#navbar {
  padding-right:7rem;
  padding-left:7rem;
}
  


/* CHANGING HIGHLIGHTED TEXT COLOR */

.off-canvas .nav-item.is-active .nav-link {
    color: #e84a3a;
}

.oo-nav__menu-select.link:hover,.oo-nav__menu-select.link:focus {
    color: #e84a3a
}

.navbar__nav__item.is-active .nav-link:not(.btn) {
        color: #e84a3a
    }


/* MENU HEADING CHANGES */
    
    h4.h5.\/.mb-0 {
    font-size: 5rem;
    color: #e84a38;
    text-align: left;
}

h3.mb-0 {
    background-color: #1a1a1a;
    color: #f4f4f4;
    border-style: solid;
    border-color: #1a1a1a;
    border-radius: 1rem;
}
    
    h3.menus-item__title.\/.h5 {
    font-size: 1.75rem;
}

    p.mb-0.\/.text-sm {
    font-weight: 600; !important
    font-size: 1rem; !important
    text-align: left; !important
}
    


    .section-dark h4, .section-dark .h5, {
    font-size: 5rem;
    color: #e84a38;
    text-align: left;
}
    
/* FOLLOW US CALLOUT */

a.btn.btn-accent.\/.follow-custom {
  font-family: "bebas-neue-1","bebas-neue-2","Helvetica Neue","Helvetica",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 1px;
  font-size: 3rem;
  padding-left:.5rem;
  padding-right:.5rem;
  padding-top:0rem;
  padding-bottom:0rem;
}

a.btn.btn-accent.\/.follow-custom:hover {
  background-color:#1a1a1a;
  color:#f4f4f4;
}

    
/* POST DETAILS BG AND TEXT FIX */
    
article.post_ss.\/.py-6 {
    background-color: #e4e4e4;
}

.col-lg-6.\/.py-2.py-lg-0.p.aos-init.aos-animate {
    color: #1a1a1a;
    font-weight: 600;
}
    
    
/* REMOVE POWERED BY */

    a.footer-social-icon.\/.footer-powered.\/ {
    font-size: 0px;
}

 /* SHORTEN FOOTER */

    
 .group-logos {
    margin-bottom: -2rem;
}
    
   .row.pt-8.justify-content-center {
    padding-top: -2rem;
}
    
    
     /* TIDY AND CENTER MENU FLOATING */

    .oo-nav__item {
    letter-spacing: 1px;
    display: inline-block;
    text-align: center;
}
    
    .oo-nav__list {
    display: inline-block;
    text-align: center;
}
