@charset "UTF-8";


/* BUTTONS */
a.cta-bar__button.\/.btn.btn-accent {
    margin-right: 0.5rem;
}

.btn.btn-accent {
    color: rgb(26, 26, 26);
    background-color: rgb(232, 74, 58);
    border: 0px solid currentColor;
}

.btn.btn-accent:hover {
    color: #1a1a1a;
    background-color: #f4f4f4;
}

.btn {
    padding: 0.5rem 1.5rem;
    border-radius: 0px;

}


/* NAVBAR FADE */

.navbar_transparent {
    background: linear-gradient(rgba(4,4,4,0.9), rgba(0,0,0,0.6), transparent);
    box-shadow: 0 0 5px transparent;
}

/* NAVBAR closer text desktop only */

@media (min-width: 1280px) {
  
nav#navbar {
  padding-right:7rem;
  padding-left:7rem;
}
  


/* CHANGING HIGHLIGHTED TEXT COLOR */

.off-canvas .nav-item.is-active .nav-link {
    color: #e84a3a;
}

.oo-nav__menu-select.link:hover,.oo-nav__menu-select.link:focus {
    color: #e84a3a
}

.navbar__nav__item.is-active .nav-link:not(.btn) {
        color: #e84a3a
    }


/* MENU HEADING CHANGES */

h3.mb-0 {
    background-color: #1a1a1a;
    color: #f4f4f4;
}

h4.h5.\/.mb-0 {
    font-size: 3rem;
    color: #e84a38;
}

    
/* FOLLOW US CALLOUT */
    
a.follow-header-link {
  font-family: "bebas-neue-1","bebas-neue-2","Helvetica Neue","Helvetica",-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    font-weight: 400;
    line-height: 1.2;
    color: #E84A38;
    text-transform: uppercase;
    letter-spacing: 1px;
}

a.follow-header-link:hover {

    color: #E84A38;

}
